.lightBox {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 100;
  .alert {
    width: 80%;
    text-align: center;
    color: #fff;
    padding: 2.5rem;
    background-color: $principalColor;
    border-radius: 0.8rem;
    h3 {
      font-size: 2.2rem;
      font-family: $Font-title;
      margin: 1.5rem 0;
    }
    p {
      margin: 2.5rem 0 0.7rem 0;
      font-family: $Font-text;
      font-size: 1.8rem;
      font-weight: 300;
      span {
        text-transform: capitalize;
        font-size: 1.9rem;
        font-weight: 700;
      }
    }
    a {
      @include alertButtons;
    }
  }
  .card {
    width: 80%;
    padding: 2rem;
    height: auto;
    text-align: center;
    background-color: #fff;
    color: $principalColor;
    border-radius: 1rem;
    h2 {
      font-family: $Font-text;
      font-size: 2.5rem;
      color: rgb(36, 36, 36);
      margin-bottom: 1rem;
    }
    hr {
      width: 70%;
      margin: auto;
      margin-bottom: 1.5rem;
    }
    h3 {
      margin: 1.5rem;
      font-size: 2.5rem;
      font-family: $Font-text;
      text-transform: capitalize;
    }
    .stats {
      width: 100%;
      height: auto;
      padding: 2rem;
      text-align: left;
      li {
        // display: inline-block;
        margin-left: 1.5rem;
        font-size: 1.8rem;
        list-style: none;
        color: rgb(43, 43, 43);
        font-family: $Font-text;
        span {
          font-weight: 700;
          text-transform: capitalize;
        }
      }
    }
    a {
      @include alertButtons;
      margin: 0.5rem auto;
      background-color: $principalColor;
      color: #fff;
    }
  }
}
