.search_forms {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  font-family: $Font-text;
  font-size: $Text-size;
  form {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      width: 90%;
      line-height: 1.6rem;
      text-align: center;
      color: rgb(58, 58, 58);
      font-weight: 700;
      font-family: $Font-title;
      font-size: 1.3rem;
      margin: 2.5rem auto;
    }
    label {
      width: 85%;
      // padding: 1rem;
      color: rgb(58, 58, 58);
      // font-family: $Font-text;
      font-family: $Font-title;
      font-size: 1.2rem;
      input,
      select {
        width: 62%;
        height: 3rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(58, 58, 58);
        outline: none;
        font-size: 1.6rem;
        font-family: $Font-text;
        color: rgb(58, 58, 58);
        &:focus {
          border-color: $secondaryColor;
        }
      }
      button {
        font-family: $Font-text;
        font-size: 1.6rem;
        margin-left: 1rem;
      }
    }
  }
  hr {
    width: 70%;
    height: 0.25rem;
    margin: 0.5rem auto 1rem;
    color: $principalColor;
    background-color: $principalColor;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    button {
      width: 150px;
      margin-top: 1rem;
      font-size: 1.6rem;
    }
  }
}
