html {
  font-size: 62.5%;
  // max-height: 100vh;
}
body {
  position: relative;
  // min-height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./variables";
@import "./mixins";
@import "./header";
@import "./buttons";
@import "./hero";
@import "./sectionSearch";
@import "./cards";
@import "./ligthBox";
